<!DOCTYPE html>
<html>
<head>
<title>Flask Project</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7d2ae8;
  padding: 30px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a class="w3-bar-item w3-button"><b>FLASK</b> Welcome to my flask project</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/register" class="w3-bar-item w3-button"><b>Register Here</b></a>
      <a href="/login" class="w3-bar-item w3-button"><b>Login</b></a>
        </div>
  </div>
</div>


<!-- Header -->
<header  style="max-width:1500px;" >
 
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>FLASK</b> </span> <span class="w3-hide-small w3-text-light-grey">Welcome to my flask project</span></h1>
  </div>
</header>



</body>
</html>
